<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlowBoard_Project_Management_System_MVC</title>
 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- ...existing code... -->
    <link rel="stylesheet" href="~/lib/jkanban/dist/jkanban.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fluentui/dist/fluent-components.css" />
    <script type="module" src="~/lib/fluentui/dist/web-components.js"></script>
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- ...existing code... -->
    <script src="~/lib/jkanban/dist/jkanban.min.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>